<p id="notice"><%= notice %></p>

<table>
    <thead>
      <tr>
        <th style="width:50px">ID</th>
        <th style="width:250px">Depart</th>
        <th style="width:100px">Duration</th>
        <th style="width:100px">From</th>
        <th style="width:100px">To</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td style="text-align:center"><%= @flight.id %></td>
          <td style="text-align:center"><%= @flight.begin_datetime %></td>
          <td style="text-align:center"><%= @flight.duration %> hours</td>
          <td style="text-align:center"><%= @flight.from_airport.code %></td>
          <td style="text-align:center"><%= @flight.to_airport.code %></td>
        </tr>

    </tbody>
  </table>

<p>
  <strong>Passenger:</strong>
  <%= Passenger.find(@booking.passenger_id).name %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
